<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- config.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%- config.subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Villa Land- en Zeezicht is een prachtige villa waarin u zich gelijk thuis voelt. Deze heerlijke luxe villa biedt ruimte aan twee tot tien personen. Verdeeld over twee appartementen. U kunt wanneer u wilt heerlijk beschut een frisse duik nemen in het grote zwembad en genieten van de Caribische sferen.</p>
                
            <p>Deze villa is gelegen in de wijk Sunset Heights aan de noordkant van Curacao, gelegen op een hoog gedeelte met prachtige uitzichten. De noordkant van het eiland kenmerkt zich door beschermd groengebied en de ruige noordkust. Aan de zuidkust kunt u genieten van de vele stranden die Curacao rijk is. Het is 15 minuten rijden naar de stranden van Piscadera en 20-30 minuten naar die van Jan Thiel en het Spaanse Water.</p>
                
            <p>Het centrum van Willemstad (Punda, Otrobanda) bereikt u in 15 minuten. Naar de fraaie stranden en natuur van het westen van Curacao is het ruim een half uur rijden. Supermarkten en grotere winkels bevinden zich op nog geen 10 minuten rijden.</p>
                
            <p>Curacao is een heerlijk eiland voor een zonnige en relaxte vakantie. Lekker snorkelen en duiken voor wie wat actiever wil zijn.</p>
                
            <p>Onze deskundige beheerder maakt u wegwijs in Villa Land- en Zeezicht. En verzorgt, indien gewenst, uw transfer van en naar de luchthaven en zorgt voor de eerste boodschappen.</p>
                
            <p>U bent van harte welkom in Villa Land- en Zeezicht!</p>
        </div>
    </div>
</div>

